<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1052068581654-6b14v7hah6pcna0obkqtaqd5mc4vupks.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1052068581654-6b14v7hah6pcna0obkqtaqd5mc4vupks</string>
	<key>API_KEY</key>
	<string>AIzaSyAxPo6RPv6wH_sUBafTHDULdUhkQrw5BwU</string>
	<key>GCM_SENDER_ID</key>
	<string>1052068581654</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.thereminSynth</string>
	<key>PROJECT_ID</key>
	<string>theremin-synth</string>
	<key>STORAGE_BUCKET</key>
	<string>theremin-synth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1052068581654:ios:50e643a7a3075e65e40037</string>
</dict>
</plist>